
<div class= "row">
  <div class = "small-11 large-11 columns">
    <h1 id= "my_name">Christina Stewart</h1>
  </div>
  <div class= "large-1 small-1 columns"> </div>
</div>

<div class= "row">
  <div class = "small-9 small-offset-2 large-9 large-offset-2 columns">
    <p id= "intro"> Full Stack Web DeveloperFull Stack Web DeveloperFull Stack Web DeveloperFull Stack Web DeveloperFull Stack Web DeveloperFull Stack Web Developer </p>
  </div>
  <div class= "large-2 small-2 columns"> </div>
</div>

<div id = "slideshow">
  <a href = "#" id= "x"> Close. </a>
  <div id = "noesis_slideshow">
    <ul data-orbit>
      <li id = "live">
        <a href = "http://hereirealized.herokuapp.com/"> See Noesis live, </a>
        take a look at the<a href = "#"> code, </a>
        <p> or be guided through it first and check it out afterwards! </p>
      </li>
      <li id = "impetus">
        <p class = "title"> IMPETUS: </p>
        <p> I was bungee jumping in New Zealand with two of my best friends. I hung from a 450 ft rope in the middle of a canyon. With nothing to anchor me amidst the vast, seemingly infinite mountains and fields, I lucidly discerned my atomity in relation to the the physical planet. I absorbed, calm and appreciative while overwhelmed and dwarfed. </p>
        <p> That sentience escaped my mind, of course, upon my arrival back to stable ground. But wouldn't it be cool if there were a way to bring those moments back? To reorient yourself and others in the mental and visual place you were at the time of your realization? Maybe by connecting a thought, an image (in this case, a person engulfed by a stunning landscape), and the part of the world in which you found yourself, you could more fully express what your insight truly entailed.  </p>
        <p> And that was the vision for our app. Twitter meets Instagram but for intellectual thoughts. With an eye to travel and communal photojournalism. </p>
      </li>

      <li>
        <img src="/assets/noesis.png" />
        <div class="orbit-caption">words words words</div>
      </li>
      <li>
        <img src="/assets/noesis.png" />
        <div class="orbit-caption">...</div>
      </li>
      <li id = "target_audience">
        <p class= "bigger_font">If this goes further...</p>
        <p class= "title">  TARGET AUDIENCE: </p>
        <p> Travelers. Artists, authors, photographers. Introspective friends. Anyone who can recognize and express thoughts that churn others' minds, or that transport them somewhere valuable for a brief moment. </p>
        <p class = "title"> CHALLENGES: </p>
        <p> Getting users comfortable with posting insights they might not otherwise have shared or might be self-conscious about.
        Weeding out the jokes and the posts that don't take the mission seriously.
        Reframing social media as an art form. </p>
        <p class = "title"> FUTURE FEATURES: </p>
        <p> A rake task importing users' Tweets that begin with "Here I realized" and that also have an associated picture. Responsive design. Analytics on what types of image/thought combinations resonate most with people. Acting on that data.  </p>
      </li>
    </ul>
  </div>
  <div id= "corequest_slideshow">
    <ul data-orbit>
      <li>
        <img src="/assets/bundler.png" />
        <div class="orbit-caption">...</div>
      </li>
      <li>
        <img src="/assets/bundler.png" />
        <div class="orbit-caption">...</div>
      </li>
      <li>
        <img src="/assets/bundler.png" />
        <div class="orbit-caption">...</div>
      </li>
    </ul>
  </div>
</div>


<div class = "row">

  <div class = "row">
    <div class= "small-8 large-8 columns">
      <div id= "project_holder" class= "row">
        <div id= "insights" class = "small-5 large-5 columns">
          <a href = "#" class = "pink" class = "move_down"> Noesis. </a>
          <img class = "proj_image" src= "/assets/noesis.png" />
          <div class = "make_rods_pink">
            <span>Rails</span> | <span>OAuth</span> | <span>REST APIs</span> | <span>JavaScript</span> | <span>CSS </span> | <span id= "ajax">AJAX</span>
            <div id= "augmented"> <span class= "make_rods_pink"> | </span> Augmented Reality</div>
          </div>
        </div>
        <div class = "small-7 large-7 columns">
          <div class = "row">
            <div id = "corequest" class = "small-9 small-offset-1 columns large-9 large-offset-1 columns">
              <a href = "#" class = "pink" class = "move_down"> CoreQuest. </a>
              <img class = "proj_image" src= "/assets/bundler.png" />
              <div class = "make_rods_pink">
                <span>Rails</span> | <span>AJAX</span> | <span>HTML/CSS</span> | <span>JavaScript</span>
              </div>
            </div>
            <div class= "small-2 large-2 columns"></div>
          </div>
        </div>

        <div class = "row">
          <div id= "trivia" class = "small-5 large-5 columns">
            <a href = "#" class = "pink" class = "move_down"> TechTrivia. </a>
            <img id = "hashstache_img" class = "proj_image" src= "/assets/hashstache.png" />
            <div class = "make_rods_pink">
              <span>CoffeeScript</span> | <span>Rails</span> | <span>HTML/CSS</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class= "small-2 large-2 columns">
      <div id= "line">  </div>
      <div id= "contact">
        <a href = "http://www.christinastewartsblog.com"> Tech Blog </a>
        </br>
        <a href = "https://github.com/cstewa"> GitHub </a>
        </br>
        <span href= "#" id= "email_link"> Email </span>
        </br>
        <a href = "http://www.linkedin.com/pub/christina-stewart/20/250/19a/"> LinkedIn </a>
        </br>
        <a href = "https://twitter.com/christinaa11"> Twitter </a>
      </div>
    </div>
  </div>
</div>

