// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.orbit-container.orbit-stack-on-small{
  background: black;
}

// this suits the noesis captions well on heroku
.orbit-container .orbit-slides-container>* .orbit-caption {
  padding: 20px 1px 20px;
}

.orbit-container .orbit-slides-container>* .orbit-caption.trivia {
  margin-bottom: -8%;
  text-align: center;
}


a {
  color: #B93B8F;
}

a:hover{
  color: #E5E4E2;
}

#my_name {
  font-size: 65px;
  color: grey;
  font-family: 'Source Code Pro', sans-serif;
}

#slideshow {
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
}

.orbit-slides-container > li:first-child {
  background-color: black;
  color: #B93B8F;
}

.orbit-caption {
  text-align: center;
}

// optimized for heroku
#christina-first-side-caption{
  width: 25%;
  margin-left: 65%;
  height: 100%;
  text-align: center;
  margin-bottom: -5%;
}

// optimized for heroku
#christina-second-side-caption{
  width: 25%;
  margin-left: 65%;
  height: 100%;
  text-align: center;
  margin-bottom: -7%;
}

#live {
  background-color: black;
  color: #B93B8F;
  font-size: 30px;
  text-align: center;
  padding-top: 200px;
}

#impetus, #target_audience{
  background-color: black;
  color: #B93B8F;
  font-size: 15px;
}

#impetus>.title{
  text-align: center;
  font-size: 17px;
  margin-top: 10%;
}

#target_audience>.title{
  width: 80%;
  margin-left: 35%;
  font-size: 17px;
  margin-bottom: 5%;
}

.bigger_font {
  font-size: 19px;
  margin-top: 25%;
}

#impetus>p, #target_audience>p{
  width: 80%;
  margin-left: 10%;
}

#x{
  color: #B93B8F;
  font-size: 20px;
  margin-left: 1%;
  margin-bottom: 3%;
}

#x:hover {
  color: #E5E4E2;
}

// trivia slides
#trivia_about{
  background-color: black;
  color: #B93B8F;
}

#trivia_about>h3{
  text-align: center;
  color: #B93B8F;
  margin-top: 20%;
}

#trivia_about>p{
  width: 80%;
  margin-left: 10%;
}


body {
  color: grey;
  background-color: black;
  font-family: 'Source Code Pro', sans-serif;
  opacity: .6;
}

.grey {
  color: grey;
}

#line{
  height: 300px;
  background-color: #B93B8F;
  width: 1px;
  position: fixed;
  margin-left: -10%;
}

#contact {
  color: #B93B8F;
  position: fixed;
  line-height: 25px;
  margin-top: 35px;
  margin-left: -7%;
}

#project_holder{
  padding-top: 30px;
  margin-left: 5%;
}

#insights, #corequest, #trivia{
  border: solid 1px;
  padding-bottom: 5px;
  padding-top: 7px;
}

.make_rods_pink, .pink {
  color: #B93B8F;
}

#augmented{
  margin-left: 25px;
  color: grey;
}
.make_rods_pink>span {
  color: grey;
}

#corequest {
  margin-top: 15px;
  margin-bottom: 20px;
}

.proj_image {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5%;
  border-bottom: 1.5px solid #B93B8F;
  border-right: 1.5px solid #B93B8F;
  margin-top: 5%;
}

#hashstache_img{
  padding-bottom: 5%;
}



