// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#massive{
  border: 2px solid grey;
  margin: 3%;
  padding-bottom: 20px;
}

.orbit-container.orbit-stack-on-small{
  background: black;
}

// this suits the noesis captions well on heroku
.orbit-container .orbit-slides-container>* .orbit-caption {
  padding: 20px 1px 20px;
}

.orbit-container .orbit-slides-container>* .orbit-caption.trivia {
  margin-bottom: -2%;
  text-align: center;
}

//optimize long caption for heroku viewing
.orbit-container .orbit-slides-container>* .orbit-caption.trivia#trivia_long {
  margin-bottom: -3%;
  text-align: justify;
  width: 86%;
  margin-left: 7%;
}

.orbit-slides-container > li:first-child {
  background-color: black;
  color: #B93B8F;
}

.orbit-caption {
  text-align: center;
}

//intro
#intro {
  line-height: 20px;
  text-align: justify;
}

a {
  color: #B93B8F;
}

a:hover{
  color: #E5E4E2;
}

#my_name {
  font-size: 65px;
  color: grey;
  font-family: 'Source Code Pro', sans-serif;
  border-bottom: solid #B93B8F 1px;
  border-right: #B93B8F solid 1px;
}


#slideshow {
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
  border: solid #B93B8F 1px;
  border-radius: 1px;
  margin-top: 5%;
  padding: 3%;
  max-height: 500px;
  overflow: hidden;
}

// optimized for heroku
#christina-first-side-caption{
  width: 25%;
  margin-left: 65%;
  height: 100%;
  text-align: center;
  margin-bottom: -5%;
}

// optimized for heroku
#christina-second-side-caption{
  width: 25%;
  margin-left: 65%;
  height: 100%;
  text-align: center;
  margin-bottom: -7%;
}

#christina-third-side-caption{
  width: 40%;
  margin-left: 50%;
  height: 100%;
  text-align: center;
  margin-bottom: -5%;
}

#paintr-caption-one, #paintr-caption-two {
  margin-bottom: 130px;
}

#paintr-caption-three {
  margin-bottom: 100px;
}

#paintr-caption-four {
  margin-bottom: 300px;
}

//noesis
#live {
  background-color: black;
  color: #B93B8F;
  font-size: 30px;
  text-align: center;
  padding-top: 200px;
}

#impetus, #target_audience{
  background-color: black;
  color: #B93B8F;
  font-size: 15px;
}

#impetus>.title{
  text-align: center;
  font-size: 17px;
  margin-top: 10%;
}

#corequest_capabilities, #what-are-ccss, #one-liner{
  text-align: center;
  font-size: 17px;
  margin-top: 10%;
}

#corequest_capabilities_p, #what-are-ccss-p, #one-liner-p{
  text-align: justify;
  font-size: 17px;
  width: 80%;
  margin-left: 10%;
}

#target_audience>.title{
  width: 80%;
  margin-left: 35%;
  font-size: 17px;
  margin-bottom: 5%;
}

.bigger_font {
  font-size: 19px;
  margin-top: 25%;
}

#impetus>p, #target_audience>p{
  width: 80%;
  margin-left: 10%;
}

#x{
  color: #B93B8F;
  font-size: 20px;
  margin-left: 1%;
  margin-bottom: 3%;
}

#x:hover {
  color: #E5E4E2;
}

// trivia slides
#trivia_about{
  background-color: black;
  color: #B93B8F;
}

#trivia_about>h3{
  text-align: center;
  color: #B93B8F;
  margin-top: 20%;
}

#trivia_about>p{
  width: 80%;
  margin-left: 10%;
}

// tradr slides
#first_tradr_image {
  height: 80%;
}

.description_paragraph {
  margin-top: 5%;
  text-align: justify;
}

//main page

body {
  color: grey;
  background-color: black;
  font-family: 'Source Code Pro', sans-serif;
}

.grey {
  color: grey;
}


#contact {
  color: #B93B8F;
  line-height: 25px;
  margin-top: 35px;
  margin-left: -57%;
  border-left: 1px solid #B93B8F;
  padding-left: 14px;
  height: 200px;
  padding-top: 20px;
}

// baby project boxes
#project_holder{
  padding-top: 30px;
  margin-left: 5%;
}

#insights, #corequest, #trivia, #tradr, #thrillr, #paintr{
  border: solid 1px;
  padding-bottom: 5px;
  padding-top: 7px;
  &:hover{
    border-color: #B93B8F;
  }
  min-height: 270px;
  max-width: 300px;
}

#trivia, #thrillr{
  margin-left: 14px;
  margin-top: 30px;
}

#tradr, #paintr {
  margin-top: 30px;
}

#thrillr > .proj_image {
  padding-bottom: 50px;
  margin-bottom: 30px;
  padding-right: 7px;
}

#corequest {
  margin-right: -10px;
  float: right;
}

.make_rods_pink, .pink {
  color: #B93B8F;
}

#augmented{
  margin-left: 25px;
  color: grey;
}
.make_rods_pink>span {
  color: grey;
}

.proj_image {
  width: 90%;
  min-height: 160px;
  margin-left: 5%;
  margin-bottom: 5%;
  border-bottom: 1.5px solid #B93B8F;
  border-right: 1.5px solid #B93B8F;
  margin-top: 5%;
}

#hashstache_img{
  padding-bottom: 5%;
}




